<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Beacon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License. Re-broadcasts Bonjour/mDNS services on your local network.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Beacon discovers Bonjour/mDNS services on your local network and re-broadcasts the ones you choose so other devices can see them.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_hap._tcp</string>
		<string>_homekit._tcp</string>
		<string>_matterc._udp</string>
		<string>_matter._tcp</string>
		<string>_matterd._udp</string>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_ssh._tcp</string>
		<string>_telnet._tcp</string>
		<string>_rfb._tcp</string>
		<string>_rdp._tcp</string>
		<string>_webdav._tcp</string>
		<string>_workstation._tcp</string>
		<string>_ftp._tcp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_nfs._tcp</string>
		<string>_adisk._tcp</string>
		<string>_esdevice._tcp</string>
		<string>_esfileshare._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_printer._tcp</string>
		<string>_scanner._tcp</string>
		<string>_airdrop._tcp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_airport._tcp</string>
		<string>_appletv-v2._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_home-sharing._tcp</string>
		<string>_daap._tcp</string>
		<string>_dpap._tcp</string>
		<string>_atc._tcp</string>
		<string>_device-info._tcp</string>
		<string>_apple-mobdev2._tcp</string>
		<string>_apple-sasl._tcp</string>
		<string>_eppc._tcp</string>
		<string>_ica-networking._tcp</string>
		<string>_ichat._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_googlezone._tcp</string>
		<string>_androidtvremote._tcp</string>
		<string>_amzn-wplay._tcp</string>
		<string>_amazonecho-remote._tcp</string>
		<string>_shelly._tcp</string>
		<string>_philipshue._tcp</string>
		<string>_aqara._tcp</string>
		<string>_aqara-setup._tcp</string>
		<string>_tplink._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_sonos._tcp</string>
		<string>_roku._tcp</string>
		<string>_rsp._tcp</string>
		<string>_plexmediasvr._tcp</string>
		<string>_xbmc-jsonrpc-h._tcp</string>
		<string>_bose._tcp</string>
		<string>_hudson._tcp</string>
		<string>_jenkins._tcp</string>
		<string>_distcc._tcp</string>
		<string>_sketchmirror._tcp</string>
		<string>_bcbonjour._tcp</string>
		<string>_cloud._tcp</string>
		<string>_airdroid._tcp</string>
		<string>_bp2p._tcp</string>
	</array>
</dict>
</plist>
